extends page
include markup

append styles
    link(rel="stylesheet", type="text/css", href="testlmake-trans-dep.css")

append scripts
    script(src="testlmake-trans-dep.js")
    
    :coffeescript
        TestlmakeTransDep = require 'testlmake-trans-dep'
        testlmakeTransDep = new TestlmakeTransDep('.content')
    
block body
    
    mixin markup
    

